<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
</head>
<body>
<h1>TodoApp</h1>
<ul th:each="todo : ${todos}">
    <li>
        <div>
            <p th:text="${todo.title}"></p>
            <p th:text="${todo.time_limit}"></p>
        </div>

    </li>
</ul>

<form th:action="@{/add}" th:method="post" th:object="${todoForm}">
    <input type="text" th:field="*{title}">
    <button type="submit">作成</button>
</form>
</body>
</html>