<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
</head>
<body>
<h1>TodoApp</h1>
<ul th:each="todo : ${todos}">
    <li>
        <div>
            <a href="../todo/update.html" th:href="@{/update/{todoId}(todoId=${todo.id})}">
                <p th:text="${todo.title}"></p>
            </a>
            <form th:action="@{/delete}" th:method="post" th:object="${todoForm}">
                <input name="id" th:value="${todo.id}" type="hidden">
                <button type="submit">削除</button>
            </form>
        </div>

    </li>
</ul>

<form th:action="@{/add}" th:method="post" th:object="${todoForm}">
    <input th:field="*{title}" type="text">
    <button type="submit">作成</button>
</form>
</body>
</html>