<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update | Todo</title>
</head>
<body>
<h1>Update</h1>
<a href="../index.html" th:href="@{/}">Home</a>
<p th:text="${todo.id}"></p>
<p th:text="'title:' + ${todo.title}"></p>
<form th:action="@{/update}" th:method="post" th:object="${todoForm}">
    <input name="id" th:value="${todo.id}" type="hidden">
    <input th:field="*{title}" type="text">
    <button type="submit">更新</button>
</form>
</body>
</html>